[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BayesTreePrior"]
	path = BayesTreePrior
	url = https://github.com/alexiajm/bayestreeprior
[submodule "LEGIT"]
	path = LEGIT
	url = https://github.com/cran/LEGIT
